@{
    ViewData["Title"] = "تماس با ما";
}


<section id="contact">
    <h2>تماس با ما</h2>
    <form class="contact-form">
        <input type="text" placeholder="نام شما" required>
        <input type="email" placeholder="ایمیل" required>
        <textarea placeholder="پیام شما..." required></textarea>
        <button type="submit" class="btn">ارسال پیام</button>
    </form>
</section>