@{
    ViewData["Title"] = "تماس با ما";
}


<section id="contact">
    <h2>تماس با ما</h2>
    <form class="contact-form" asp-action="ContactUs">
        <input name="name" type="text" placeholder="نام شما" required>
        <input name="email" type="email" placeholder="ایمیل" required>
        <textarea name="messege" placeholder="پیام شما..." required></textarea>
        <button type="submit" class="btn">ارسال پیام</button>
    </form>
</section>